<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../public/css/sb-admin-2.css'>
    <title>Train Schedule</title>
</head>

<body id="page-top">
    <header>
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="">Train</a></li>
                    <li><a href="">Schedule</a></li>
                    <li><a href="">Station</a></li>
                    <li><a href="">Routes</a></li>
                </ul>
            </nav>
        </div>
    </header>